body {
  background-color: #C2C2C2;
}
#title-container {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
}
#click-trough {
  position: absolute;
  bottom: 5%;
  right: 10%;
  color: white;
}
.photo-bg {
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg.jpg);
  background-size: cover;
  background-position: bottom;
}
.explore-title {
  text-align: center;
  margin: 0 auto;
}
